/* --- FONTS --- */
@import url("https://fonts.googleapis.com/css?family=Lato:700");

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif
}

/* --- CENTERED ELEMENT --- */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* --- ELEMENT: COLOR AND SHAPE ---*/
body {
    background-color: #f3f4f6;
}

.element {
    background-color: white;
    /* width: 600px; */
    padding: 60px 30px;
    box-shadow: 20px 20px 15px -5px rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 10px;
}

h2 {
    font-size: 32px;
    /* margin: 20px 0; */
}

#placeholder {
    height: 100px;
    width: 100px;
    padding: 50px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 80px;
}

.buttons {
    display: flex;
    /* margin: 60px auto; */
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 12px 12px;
    cursor: pointer;
    transition: all 150ms linear;
    border: 0 none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 2px 5px 10px #e4e4e4;
    width: 160px;
}

.button-green {
    color: #ffffff;
    background: #3dd28d;
}

.button-green:hover {
    background: #2da67a;
}

.button-red {
    color: #ffffff;
    background: #f32c52;
}

.button-red:hover {
    background: #e0173e;
}